*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    border: 0px;
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: beige;
}

header{
    overflow-y: hidden;
    background-color: #f3163b;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px  #f3163b;
}
img{
    height: 15vh;
    padding: 10px;
}

input{
    font-size: 3vh;
    border: none;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
input:hover{
    border: 0 none;
    outline: 0;
}
.buttons--nav {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
#searchPoke{
    width: 75%;
    margin-right: 10px;
}
#listPoke{
    width: 19%;
}
button:hover{
    background-color: #306CB4;
}
button, button::after {
    height: 6vh;
    background: linear-gradient(45deg, transparent 5%, #5f1023b7 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 2px 0px 0px #306CB4;
    outline: transparent;
    position: relative;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'POKEMON';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #306CB4 3%, #306CB4 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #306CB4;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  } 
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  ul{
      display: flex;
      list-style: none;
      margin: 0px;
      height: 100%;
      width: 95%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
  }
  li{
      display: flex;
      width: 20%;
      flex-direction: column;
      margin: 10px;
      align-items: center;
      justify-content: center;
      background-color: rgb(241, 241, 241);
      box-shadow: 0px 0px 10px 0px  #b6b6b6;
  }